:root {
    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);
    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);
}

body {
    font-family: 'Red Hat Display', sans-serif;
    background: var(--Pale-blue);
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 1em;
    max-width: 450px;
    margin: 0 auto;
    background: #fff;
}
.card__img {
    border-top-left-radius:  1em;
    border-top-right-radius:  1em;
}
.card__summary {
    padding: 1.5rem 1rem;

}
.card__description {
    padding: .5rem 1rem;
    color: var(--Desaturated-blue);
}
.card-bullet {
    border-radius: .5em;
    background-color: hsl(225, 100%, 98%);
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    text-align: left;
}
.card-bullet__title {
    padding: 0;
    margin: 0;
}
.card-bullet__price {
    color: hsl(224, 23%, 55%);
}

.card-bullet__plan {
    flex-grow: 2;
    padding-left: 20px;
}

.btn {
 display: block;
 width: 100%;
 border-radius: 15px;
 line-height: 1.6;
 padding: 15px;
 margin: 15px 0;
 border: none;
 font-size: 1.1em;
 font-weight: 700;
}

.btn--primary {
    background: var(--Bright-blue);
    color: #fff;
    box-shadow: 0 12px 10px var(--Pale-blue);
}

.btn--secondary {
    color: var(--Desaturated-blue);
    background: #fff;
}
